.social {

  &__item {
    margin: 15px 0;
  } 

  &__link {
    outline: none;

    svg {
      fill: #717171;
      transition: fill 0.3s, transform 0.3s;
    }

    &:focus {
      svg {
        fill: var(--color-accent);
      } 
    }
  
    &:hover {
      svg {
        fill: var(--color-accent);
        transform: scale(1.5);
      }
    }
  
    &:active {
      svg {
        fill: var(--color-accent);
      }
    }
  }
}